@theme {
	--font-onest: 'Onest', sans-serif;

	--color-bg: rgba(255, 255, 255, 1);
	--color-bg-secondary: rgba(243, 245, 247, 1);
	--color-text: rgba(15, 20, 25, 1);
	--color-text-secondary: rgba(107, 114, 128, 1);
	--color-text-tertiary: rgba(255, 255, 255, 0.64);
	--color-border: rgba(229, 231, 235, 1);
	--color-surface: rgba(255, 255, 255, 1);

	--color-primary: rgba(0, 71, 65, 1);
	--color-error: rgba(235, 26, 53, 1);
	--color-warning: rgba(245, 158, 11, 1);
	--color-white: rgba(255, 255, 255, 1);

	--width-container: 1400px;
	--max-width-container: 750px;
}
